<?xml version="1.0"?>
<mujoco xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="quadrotor_visual_assets">
    <mesh name="quadrotor_visual_mesh" file="raxl_assembly.obj" scale="0.001 0.001 0.001" />
  </xacro:macro>

  <xacro:macro name="quadrotor_body" params="prefix pos euler:='0 0 0' mesh_pos:='-0.17 -0.16 -0.1' mesh_euler:='0 1.57 1.57079632679' primitive_alpha:='0' include_lidar:='false'">
    <body name="${prefix}" pos="${pos}" euler="${euler}">
      <joint name="${prefix}" type="free" damping="0.001" armature="0" pos="0 0 0"/>
  
      <!-- This is only to visual purposes -->
      <!--<geom name="${prefix}_visual_mesh" type="mesh" mesh="quadrotor_visual_mesh"
            pos="${mesh_pos}" euler="${mesh_euler}"
            rgba="0.1 0.1 0.1 1" contype="0" conaffinity="0" density="0"/>-->
      
      <geom name="${prefix}_core" type="box" size="0.035 0.035 0.015" rgba="1.0 1.0 0.0 ${primitive_alpha}" mass="1.04"
            solref=".5e-4" solimp="0.9 0.99 1e-4" fluidshape="ellipsoid" fluidcoef="3.0 1.0 2.0 1.0 1.0"/>
      <site name="${prefix}_imu" pos="0 0 0"/>
      <xacro:if value="${include_lidar}">
        <geom name="${prefix}_lidar_visual" type="box" pos="0 0 0.03" size="0.025 0.018 0.012"
              rgba="0.0 0.4 1.0 ${primitive_alpha}" contype="0" conaffinity="0" density="0"/>
        <site name="${prefix}_lidar" type="sphere" pos="0 0 0.03" size="0.01" rgba="0 0.8 1 ${primitive_alpha}"/>
      </xacro:if>
      
      <geom name="${prefix}_a00" type="box" pos=".09034 0.09034 0.0" size="0.06364 0.01 0.0025" quat=".924 0 0 0.383" rgba="1 0.5 0 ${primitive_alpha}" mass=".035"
            solref=".5e-4" solimp="0.9 0.99 1e-4" fluidshape="ellipsoid" fluidcoef="3.0 1.0 2.0 1.0 1.0"/>
      <geom name="${prefix}_a10" type="box" pos=".09034 -0.09034 0.0" size="0.06364 0.01 0.0025" quat=".383 0 0 0.924" rgba="1 0.5 0 ${primitive_alpha}" mass=".035"
            solref=".5e-4" solimp="0.9 0.99 1e-4" fluidshape="ellipsoid" fluidcoef="3.0 1.0 2.0 1.0 1.0"/>
      <geom name="${prefix}_a20" type="box" pos="-0.09034 -0.09034 0.0" size="0.06364 0.01 0.0025" quat="-.383 0 0 0.924" rgba="1 0.5 0 ${primitive_alpha}" mass=".035"
            solref=".5e-4" solimp="0.9 0.99 1e-4" fluidshape="ellipsoid" fluidcoef="3.0 1.0 2.0 1.0 1.0"/>
      <geom name="${prefix}_a30" type="box" pos="-.09034 0.09034 0.0" size="0.06364 0.01 0.0025" quat=".924 0 0 -0.383" rgba="1 0.5 0 ${primitive_alpha}" mass=".035"
            solref=".5e-4" solimp="0.9 0.99 1e-4" fluidshape="ellipsoid" fluidcoef="3.0 1.0 2.0 1.0 1.0"/>

      <geom name="${prefix}_thruster00" type="cylinder" pos="-0.12728 -0.12728 0.01" size="0.03 0.0025" quat="1.0 0.0 0.0 0." rgba="0.0 0.0 0.0 ${primitive_alpha}" mass=".015"
            solref=".5e-4" solimp="0.9 0.99 1e-4" fluidshape="ellipsoid" fluidcoef="3.0 1.0 2.0 1.0 1.0"/>
      <geom name="${prefix}_thruster10" type="cylinder" pos="0.12728 -0.12728 0.01" size="0.03 0.0025" quat="1.0 0.0 0.0 0." rgba="0.0 0.0 0.0 ${primitive_alpha}" mass=".015"
            solref=".5e-4" solimp="0.9 0.99 1e-4" fluidshape="ellipsoid" fluidcoef="3.0 1.0 2.0 1.0 1.0"/>
      <geom name="${prefix}_thruster20" type="cylinder" pos="-0.12728 0.12728 0.01" size="0.03 0.0025" quat="1.0 0.0 0.0 0." rgba="0.0 0.0 0.0 ${primitive_alpha}" mass=".015"
            solref=".5e-4" solimp="0.9 0.99 1e-4" fluidshape="ellipsoid" fluidcoef="3.0 1.0 2.0 1.0 1.0"/>
      <geom name="${prefix}_thruster30" type="cylinder" pos="0.12728 0.12728 0.01" size="0.03 0.0025" quat="1.0 0.0 0.0 0." rgba="0.0 0.0 0.0 ${primitive_alpha}" mass=".015"
            solref=".5e-4" solimp="0.9 0.99 1e-4" fluidshape="ellipsoid" fluidcoef="3.0 1.0 2.0 1.0 1.0"/>

      <site name="${prefix}_thrust" type="box" pos="0 0 0" size="0.035 0.035 0.015" rgba="0 1 1 ${primitive_alpha}"/>
      <site name="${prefix}_rateX" type="box" pos="0 0 0" size="0.035 0.035 0.015" rgba="0 1 1 ${primitive_alpha}"/>
      <site name="${prefix}_rateY" type="box" pos="0 0 0" size="0.035 0.035 0.015" rgba="0 1 1 ${primitive_alpha}"/>
      <site name="${prefix}_rateZ" type="box" pos="0 0 0" size="0.035 0.035 0.015" rgba="0 1 1 ${primitive_alpha}"/>

      <site name="${prefix}_rotor1_site" type="sphere" pos="-0.12728 -0.12728 0.0" size="0.005" zaxis="0 0 1" rgba="0 1 0 ${primitive_alpha}"/>
      <site name="${prefix}_rotor2_site" type="sphere" pos="0.12728 -0.12728 0.0" size="0.005" zaxis="0 0 1" rgba="0 1 0 ${primitive_alpha}"/>
      <site name="${prefix}_rotor3_site" type="sphere" pos="-0.12728 0.12728 0.0" size="0.005" zaxis="0 0 1" rgba="0 1 0 ${primitive_alpha}"/>
      <site name="${prefix}_rotor4_site" type="sphere" pos="0.12728 0.12728 0.0" size="0.005" zaxis="0 0 1" rgba="0 1 0 ${primitive_alpha}"/>

      <site name="${prefix}_payload_site" pos="0.0 0.0 -0.05"/>
    </body>
  </xacro:macro>

  <xacro:macro name="quadrotor_physical_sensors" params="prefix">
    <accelerometer name="${prefix}_accel" site="${prefix}_imu" />
    <gyro name="${prefix}_gyro" site="${prefix}_imu" />
  </xacro:macro>


  <xacro:macro name="quadrotor_actuators" params="prefix control_hz:=240">
    <plugin site="${prefix}_rotor1_site" name="${prefix}_rotor1"
            plugin="MujocoRosUtils::RotorMotor"
            actdim="1"
            ctrlrange="0 3000.0"
            gear="0 0 1 0 0 0.015"
            nsample="8" delay="0.018" interp="zoh">
      <config key="kf" value="2.063751543951938e-06"/>
      <config key="tau" value="0.025"/>
    </plugin>
    <plugin site="${prefix}_rotor2_site" name="${prefix}_rotor2"
            plugin="MujocoRosUtils::RotorMotor"
            actdim="1"
            ctrlrange="0 3000.0"
            gear="0 0 1 0 0 -0.015"
            nsample="8" delay="0.018" interp="zoh">
      <config key="kf" value="2.063751543951938e-06"/>
      <config key="tau" value="0.025"/>
    </plugin>
    <plugin site="${prefix}_rotor3_site" name="${prefix}_rotor3"
            plugin="MujocoRosUtils::RotorMotor"
            actdim="1"
            ctrlrange="0 3000.0"
            gear="0 0 1 0 0 -0.015"
            nsample="8" delay="0.018" interp="zoh">
      <config key="kf" value="2.063751543951938e-06"/>
      <config key="tau" value="0.025"/>
    </plugin>
    <plugin site="${prefix}_rotor4_site" name="${prefix}_rotor4"
            plugin="MujocoRosUtils::RotorMotor"
            actdim="1"
            ctrlrange="0 3000.0"
            gear="0 0 1 0 0 0.015"
            nsample="8" delay="0.018" interp="zoh">
      <config key="kf" value="2.063751543951938e-06"/>
      <config key="tau" value="0.025"/>
    </plugin>
    
    <plugin name="acro_ctrl_${prefix}" plugin="MujocoRosUtils::AcroMode" joint="${prefix}">
      <config key="actuator_r1"  value="${prefix}_rotor1"/>
      <config key="actuator_r2"  value="${prefix}_rotor2"/>
      <config key="actuator_r3"  value="${prefix}_rotor3"/>
      <config key="actuator_r4"  value="${prefix}_rotor4"/>
      <config key="rotor_actuator_model" value="speed"/>
      <config key="rotor_kf" value="2.063751543951938e-06"/>
      <config key="betaflight_topic" value="betaflight"/>
      <config key="allocation_weight_fz" value="1.0"/>
      <config key="allocation_weight_tx" value="20.0"/>
      <config key="allocation_weight_ty" value="20.0"/>
      <config key="allocation_weight_tz" value="5.0"/>
      <config key="control_hz"   value="${control_hz}"/>
      <config key="body_name"    value="${prefix}"/>
    </plugin>
  </xacro:macro>

  <xacro:macro name="quadrotor_sensor_plugins" params="prefix odom_hz:=240 imu_hz:=350">
    <plugin name="${prefix}_odom" plugin="MujocoRosUtils::OdometryPublisher" objtype="xbody" objname="${prefix}">
      <config key="publish_rate" value="${odom_hz}"/>
    </plugin>
    <plugin name="${prefix}_imu_pub" plugin="MujocoRosUtils::ImuPublisher">
      <config key="body_name"    value="${prefix}"/>
      <config key="accel_sensor" value="${prefix}_accel"/>
      <config key="gyro_sensor"  value="${prefix}_gyro"/>
      <config key="publish_rate" value="${imu_hz}"/>
    </plugin>
  </xacro:macro>

  <xacro:macro name="quadrotor_lidar_plugin" params="prefix lidar_hz:=10">
    <plugin name="${prefix}_lidar_pub" plugin="MujocoRosUtils::LidarPublisher">
      <config key="site_name" value="${prefix}_lidar"/>
      <config key="frame_id" value="livox_frame"/>
      <config key="topic_prefix" value="${prefix}"/>
      <config key="topic_name" value="livox/lidar"/>
      <config key="message_type" value="livox_custom"/>
      <config key="livox_lidar_id" value="1"/>
      <config key="publish_rate" value="${lidar_hz}"/>
      <config key="cutoff_dist" value="15"/>
      <config key="min_range" value="0.1"/>
      <config key="scan_model" value="mid360"/>
      <config key="samples_per_frame" value="20000"/>
      <config key="pattern_file" value="$(arg meshdir)/livox_scan_mode/mid360.npy"/>
      <config key="horizontal_samples" value="500"/>
      <config key="vertical_samples" value="40"/>
      <config key="horizontal_fov_deg" value="360"/>
      <config key="vertical_fov_deg" value="59"/>
      <config key="bodyexclude" value="${prefix}"/>
      <config key="geomgroup" value="1 0 0 0 0 0"/>
      <config key="qos_reliability" value="reliable"/>
      <config key="publish_tf" value="false"/>
      <config key="tf_parent_frame" value="world"/>
    </plugin>
  </xacro:macro>
</mujoco>
