<?xml version="1.0"?>
<mujoco xmlns:xacro="http://www.ros.org/wiki/xacro" model="Single-Drone Payload LiDAR Scene">
  
  <xacro:arg name="quad_name" default="quadrotor"/>
  <xacro:arg name="init_x" default="0.0"/>
  <xacro:arg name="init_y" default="0.0"/>
  <xacro:arg name="init_z" default="0.02"/>
  <xacro:arg name="init_roll"  default="0.0"/>
  <xacro:arg name="init_pitch" default="0.0"/>
  <xacro:arg name="init_yaw"   default="0.0"/>
  <xacro:arg name="meshdir" default="."/>
  <xacro:arg name="mesh_pos" default="-0.17 -0.16 -0.1"/>
  <xacro:arg name="mesh_euler" default="0 1.57 1.57079632679"/>
  <xacro:arg name="primitive_alpha" default="0.9"/>
  <xacro:arg name="simulation_timestep" default="0.0025"/>
  <xacro:arg name="imu_hz" default="350"/>
  <xacro:arg name="odom_hz" default="240"/>
  <xacro:arg name="control_hz" default="240"/>
  <xacro:arg name="payload_odom_hz" default="240"/>
  <xacro:arg name="tension_hz" default="100"/>
  <xacro:arg name="clock_hz" default="400"/>
  <xacro:arg name="lidar_hz" default="10"/>

  <xacro:include filename="quadrotor_acro_macro.xml.xacro" />

  <compiler angle="radian" meshdir="$(arg meshdir)"/>

  <option timestep="$(arg simulation_timestep)" gravity="0 0 -9.81" density="1.225" viscosity="1.8e-05" integrator="RK4" />

  <extension>
    <plugin plugin="MujocoRosUtils::WrenchToActuators"/>
    <plugin plugin="MujocoRosUtils::OdometryPublisher"/>
    <plugin plugin="MujocoRosUtils::SensorPublisher"/>
    <plugin plugin="MujocoRosUtils::ImuPublisher"/>
    <plugin plugin="MujocoRosUtils::LidarPublisher"/>
    <plugin plugin="MujocoRosUtils::TensionPublisher"/>
    <plugin plugin="MujocoRosUtils::RotorMotor"/>
    <plugin plugin="MujocoRosUtils::AcroMode"/>
    <plugin plugin="MujocoRosUtils::LowLevelMode"/>
    <plugin plugin="MujocoRosUtils::ClockPublisher"/>
  </extension>

  <asset>
    <material name="mat_red"   rgba="0.8 0.1 0.1 1" reflectance="0.01" shininess="0.01" specular="0.0" />
    <material name="mat_green" rgba="0.1 0.8 0.1 1" reflectance="0.01" shininess="0.01" specular="0.0" />
    <material name="mat_blue"  rgba="0.1 0.1 0.8 1" reflectance="0.01" shininess="0.01" specular="0.0" />
    <material name="mat_yellow" rgba="0.9 0.8 0.1 1" reflectance="0.01" shininess="0.01" specular="0.0" />
    <material name="mat_cyan"   rgba="0.1 0.7 0.8 1" reflectance="0.01" shininess="0.01" specular="0.0" />
    <material name="mat_gray"   rgba="0.45 0.45 0.45 1" reflectance="0.01" shininess="0.01" specular="0.0" />
    <xacro:quadrotor_visual_assets />

    <texture type="skybox" builtin="flat" rgb1="0 0 0" rgb2="0 0 0" width="512" height="3072"/>
    <texture type="2d" name="groundplane" builtin="checker" mark="edge" rgb1="0.2 0.3 0.4" rgb2="0.1 0.2 0.3" markrgb="0.8 0.8 0.8" width="300" height="300"/>
    <material name="groundplane" texture="groundplane" texuniform="true" texrepeat="5 5" reflectance="0.2"/>
  </asset>

  <worldbody>

    <plugin plugin="MujocoRosUtils::ClockPublisher">
      <config key="topic_name" value="/clock"/>
      <config key="publish_rate" value="$(arg clock_hz)"/>
      <config key="use_sim_time" value="true"/>
    </plugin>

    <light pos="1 0 3.5" dir="0 0 -1" directional="true"/>
    <geom name="floor" size="0 0 0.05" type="plane" material="groundplane"/>
    <geom name="ceiling" type="box" pos="2.5 0 3.0" size="5.55 2.05 0.04" rgba="0.7 0.7 0.75 0.35"/>

    <geom name="box_red" type="box" pos="2 1 0.1" size="0.2 0.2 0.1" material="mat_red" />
    <geom name="box_green" type="box" pos="4 -1 0.5" size="0.2 0.2 0.5" material="mat_green" />
    <geom name="box_blue" type="box" pos="6 1 0.5" size="0.2 0.2 0.5" material="mat_blue" />
    <geom name="pillar_cyan" type="cylinder" pos="1.2 -1.25 0.75" size="0.12 0.75" material="mat_cyan" />
    <geom name="pillar_yellow" type="cylinder" pos="5.2 1.35 1.1" size="0.10 1.1" material="mat_yellow" />
    <geom name="tall_slab_left" type="box" pos="0.6 1.35 0.8" size="0.08 0.35 0.8" material="mat_gray" />
    <geom name="low_crate_back" type="box" pos="6.7 -0.8 0.25" size="0.28 0.32 0.25" material="mat_cyan" />
    <geom name="overhead_beam" type="box" pos="3.6 1.1 1.8" size="0.9 0.08 0.08" material="mat_gray" />
    <geom name="offset_panel" type="box" pos="7.1 0.25 1.05" size="0.08 0.55 1.05" material="mat_red" />

    <xacro:quadrotor_body prefix="$(arg quad_name)"
                          pos="$(arg init_x) $(arg init_y) $(arg init_z)"
                          euler="$(arg init_roll) $(arg init_pitch) $(arg init_yaw)"
                          mesh_pos="$(arg mesh_pos)"
                          mesh_euler="$(arg mesh_euler)"
                          primitive_alpha="$(arg primitive_alpha)"
                          include_lidar="true" />


    <body name="payload" pos="-0.7 0.0 0.02">
      <joint name="payload_x" type="slide" axis="1 0 0" damping="0.2"/>
      <joint name="payload_y" type="slide" axis="0 1 0" damping="0.2"/>
      <joint name="payload_z" type="slide" axis="0 0 1" damping="0.2"/>
      <geom type="sphere" size="0.03" rgba="0 0 1 0.8" mass="0.2"/>
      <site name="payload_connection_site" pos="0.0 0.0 0.0"/>
    </body>

    <body name="payload_2" pos="-0.7 0.7 0.02">
      <joint name="payload_2_x" type="slide" axis="1 0 0" damping="0.2"/>
      <joint name="payload_2_y" type="slide" axis="0 1 0" damping="0.2"/>
      <joint name="payload_2_z" type="slide" axis="0 0 1" damping="0.2"/>
      <geom type="sphere" size="0.03" rgba="0 0 1 0.8" mass="0.2"/>
      <site name="payload_connection_site_2" pos="0.0 0.0 0.0"/>
    </body>

    <geom name="wall_back" type="box" pos="-3 0 1.5" size="0.05 2 1.5" rgba="0.8 0.8 0.8 0.2"/>
    <geom name="wall_front" type="box" pos="8 0 1.5" size="0.05 2 1.5" rgba="0.8 0.8 0.8 0.2"/>
    <geom name="wall_left" type="box" pos="2.5 2 1.5" size="5.5 0.05 1.5" rgba="0.8 0.8 0.8 0.2"/>
    <geom name="wall_right" type="box" pos="2.5 -2 1.5" size="5.5 0.05 1.5" rgba="0.8 0.8 0.8 0.2"/>

    <geom name="origin_x" type="cylinder" fromto="0 0 0.01 0.5 0 0.01" size="0.01" rgba="1 0 0 0.1" contype="0" conaffinity="0" group="1"/>
    <geom name="origin_y" type="cylinder" fromto="0 0 0.01 0 0.5 0.01" size="0.01" rgba="0 1 0 0.1" contype="0" conaffinity="0" group="1"/>
    <geom name="origin_z" type="cylinder" fromto="0 0 0.01 0 0 0.51" size="0.01" rgba="0 0 1 0.1" contype="0" conaffinity="0" group="1"/>
  </worldbody>

  <actuator>
    <xacro:quadrotor_actuators prefix="$(arg quad_name)" control_hz="$(arg control_hz)" />
  </actuator>

  <tendon>
    <spatial name="rope0" limited="true" range="0 0.71" width=".0005">
      <site site="$(arg quad_name)_payload_site"/>
      <site site="payload_connection_site"/>
    </spatial>
  </tendon>

  <sensor>
    <xacro:quadrotor_physical_sensors prefix="$(arg quad_name)" />
    <xacro:quadrotor_sensor_plugins prefix="$(arg quad_name)" odom_hz="$(arg odom_hz)" imu_hz="$(arg imu_hz)" />
    <xacro:quadrotor_lidar_plugin prefix="$(arg quad_name)" lidar_hz="$(arg lidar_hz)" />
    <plugin name="payload_odom" plugin="MujocoRosUtils::OdometryPublisher" objtype="xbody" objname="payload">
      <config key="publish_rate" value="$(arg payload_odom_hz)"/>
      <config key="topic_prefix" value="$(arg quad_name)"/>
    </plugin>
    <tendonlimitfrc tendon="rope0"/>
    <plugin name="rope0_tension_pub" plugin="MujocoRosUtils::TensionPublisher">
      <config key="tendon_name" value="rope0"/>
      <config key="topic_prefix" value="$(arg quad_name)"/>
      <config key="frame_id" value="payload_connection_site"/>
      <config key="publish_rate" value="$(arg tension_hz)"/>
    </plugin>
  </sensor>
</mujoco>
